body, h1, h2, h3, p, a, ul, ol, header, footer, nav, main, article {
	font-size: 17px;
	color: #444;
	font-family: 'Gentium Basic', serif;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background-color: #fefefe;
}

h1 {
    font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
	font-weight: 900;
	color: #333;
}

h1 a {
	text-decoration: none; 
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	letter-spacing: 2px;
	color: #555;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #777;
	margin-bottom: 1em;
}

a {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}

hr {
	border: 1px solid #eee;
}

/* sidebar styles */
#sidebar {
	width: 250px;
	position: fixed;
	left: 0;
	height: 100%;
	background-color: #eee;
	padding: 20px 10px 10px;
	text-align: center;
	line-height: 2em;
}

#sidebar #bch_icon {
	width: 180px;
}

#sidebar_text {
	margin: 20px 0 10px;
}

#sidebar_text h1 {
	margin-bottom: 10px;
}

#sidebar p {
	line-height: 1.5em;
}

#sidebar_nav {
	display: none;
	visibility: hidden;
}


/* main styles */
main {
	max-width: 1000px;
	padding: 20px 100px 10px 300px;
	margin: 0 auto;
}

.btn {
	margin: 10px 0;
	background-color: #eee;
	padding: 3px 5px;
	display: inline-block;
	width: auto;
	border-radius: 1px;
}

.btn a {
	text-decoration: none;
	font-weight: 100;
}


/* MEDIA QUERIES */
@media (max-width: 600px) {
	#sidebar {
		width: 100%;
		height: auto;
		padding: 10px 0;
		position: static;
	}
	
	#sidebar #bch_icon {
		display: none;
		visibility: hidden;
	}
	
	#sidebar_text {
		margin: 0;
	}
	
	#sidebar_nav {
		display: block;
		visibility: visible;
	}
	
	#sidebar_nav .btn {
		display: inline-block;
		background-color: #fefefe;
		margin: 0;
	}
	
	main {
		width: 100%;
		padding: 20px;
	}
}





