/* post.html styles */
.post_content p {
	margin: 1em 0;
	line-height: 1.5em;
}

.post_content ul, .post_content ol {
	margin-left: 20px;
}

.post_content li {
	margin: 5px 0;
}

.post-nav {
	margin: auto;
	text-align: center;
	padding-right: 20px;
}
