---

---
<!doctype html>
<html lang="en">

	<head>
		{% include innerHead.html %}

		<title>{{ site.title }}</title>

		<link rel="stylesheet" href="/css/index.css">
	</head>

	<body>
		{% include header.html %}

		<section id="projects">
			<div class="content_container">
				<h2>Projects</h2>
				<ul>
					<li><a href="http://riptidesquids.com/">Website</a> for my Splatoon team (code <a href="https://github.com/calamarcat/riptide-website">here</a>)</li>
					<li><a href="https://github.com/calamarcat/overlayprjct">Custom stream overlays</a></li>
				</ul>
			</div>
		</section>

		<div class="divider"></div>

		<!-- <section id="work_experience">
			<div class="content_container">
				<h2>Work Experience</h2>
				<h3><a href="https://www.tiny.cloud">Tiny</a></h3>
				<ul>
					<li>Software Engineer: Dec 2017 - now</li>
					<li>Part-time QA Engineer: July 2017 - Nov 2017</li>
					<li>QA Intern: Jun 2016 - Jun 2017</li>
				</ul>
				<h3>University of Queensland</h3>
				<ul>
					<li>Course tutor: Semester 2 2016 & 2017</li>
				</ul>
				<h3><a href="https://bettacarhire.com/">Betta Car & Ute Hire</a></h3>
				<ul>
					<li>Front desk customer service: Nov 2014 - Jul 2016</li>
				</ul>
			</div>
		</section>

		<div class="divider"></div>

		<section id="education">
			<div class="content_container">
					<h2>Education</h2>
					<h3>Bachelor of Engineering (Honours): 2013 - Jul 2017</h3>
					<ul>
						<li>University of Queensland</li>
						<li>Major: Software Engineering</li>
						<li>Thesis: “Analysing K-means” – an investigation of the K-means clustering algorithm and how the properties of the problems on which it’s run can affect its performance and results.</li>
						<li>Electives: web design and development, networks, security, AI and machine learning.</li>
					</ul>
					<h3>Bachelor of Arts: 2016</h3>
					<ul>
						<li>University of Queensland</li>
						<li>Major: Psychology</li>
					</ul>
			</div>
		</section> -->

		<!-- <div class="divider"></div> -->

		<section id="post_list">
			<div class="content_container">
				<h2>Blog posts</h2>
				<p>Occasionally, I write blog posts. Mostly for practice, sometimes for work or other things. The following is a (hopefully) complete list.</p>
				<ul class="posts-list">
					{% for post in paginator.posts %}
						<li>
							<p class="post-date">{{ post.date | date: "%-d %B %Y" }}</p>
							
							{% if post.external_url %}
								<h3><a class="external-url" rel="canonical" href="{{ post.external_url }}">{{ post.title }}</a></h3> 
								<p class="external-source">Published by <a href="{{ post.external_site_url }}">{{ post.external_site }}</a></p>
							{% else %}
								<h3><a rel="canonical" href="{{ post.url }}">{{ post.title }}</a></h3>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
				
				{% if paginator.total_pages > 1 %}
					<div class="pagination">
						<p>
							{% if paginator.previous_page %}
								<a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
							{% else %}
								<span>&laquo; Prev</span>
							{% endif %}

							{% for page in (1..paginator.total_pages) %}
								{% if page == paginator.page %}
									<em>{{ page }}</em>
								{% elsif page == 1 %}
									<a href="/">{{ page }}</a>
								{% else %}
									<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
								{% endif %}
							{% endfor %}

							{% if paginator.next_page %}
								<a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
							{% else %}
								<span>Next &raquo;</span>
							{% endif %}
						</p>
					</div>
					{% endif %}
			</div>
		</section>

	</body>

</html>

