---

---
<!doctype html>
<html lang="en">

	<head>
		{% include innerHead.html %}
		
		<title>{{ site.title }}</title>
		
		<link rel="stylesheet" href="/css/index.css">
	</head>
	
	<body>
		{% include sidebar.html %}
		
		<main id="post_list">
			{% for post in site.posts %}
			<article>
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<h3 class="post_date">{{ post.date | date_to_long_string }} </h3>
				{{ post.excerpt }}
				<p class="btn"><a href="{{ post.url }}">Read more...</a></p>
			</article>
			
			<hr />
			
			{% endfor %}	

		</main>
		
	</body>
	
</html>

