<section id="header">
  <div class="content_container">
    <a href="{{site.url}}"><img id="bch_icon" src="/images/black_cat_icon.png" alt="BlackCatHikari icon - a grayscale photo of a curled up, sleeping cat"></a>

    <div id="header_text">
      <h1>Millie Macdonald</h1>
      <h2>Pseuds: metricjs & <a href="https://github.com/calamarcat">CalamarCat</a></h2>
      <p>Product Owner @ <a href="https://www.tiny.cloud">Tiny</a></p>
      <p>Occasional <a href="https://www.youtube.com/calamarcat">Youtuber</a> & writer</p>
      <div id="links">
          <a href="https://github.com/blackcathikari"><img src="/images/github-icon.png" /></a>
          <a href="https://www.linkedin.com/in/milliemacdonald/"><img src="/images/linkedin-icon.png" /></a>
      </div>
    </div>
  </div>
</section>