<section id="sidebar">
	<img id="bch_icon" src="/images/black_cat_icon.png" alt="BlackCatHikari icon - a grayscale photo of a curled up, sleeping cat">
	
	<div id="sidebar_text">
		<h1>Millie Macdonald</h1>
		<p>Software Engineering Student</p>
		<p>Aspiring Web Developer</p>
		<p>QA Intern @ <a href="www.ephox.com">Ephox</a></p>
	</div>

	<a href="{{site.github_profile}}"><img src="/images/github-icon.png" /></a>
	<a href="{{site.linkedin_profile}}"><img src="/images/linkedin-icon.png" /></a>
</section>